/* 
селектор {
    свойство1: значение1;
    свойство2: значение2;
......
    свойство20: значение20:
......
}

*/
div{
    width: 300px;
    height: 150px;
    border: 2px solid orange;
    margin: 10px 10px 10px 10px;
}