p.blueText{
    color: blue;
}

.bigText{
    font-size: 22px;
}

.blueText.bigText {
    background-color: pink;
    border: 2px solid purple;
    border-top-style: dotted;
    margin-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.colorDiv{
    display: inline-block;
    background-color: pink;
    height: 300px;
    width: 300px;
    border: 1px solid purple;
    margin: 0 auto; /*для горизонтали*/
}

h1{
    text-align: center;
}

.cat{
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;/*обязательно для строчных элементов*/
}