/*.nav{
   list-style-type: none; 
   

}

ul.nav > li{
    font-size: 20px;
   border: 2px solid deeppink;
   width: 200px;
   height: 30px;
   display: inline-block;

}*/
p{
    color: deepskyblue;
}

div > p{
    color: deeppink;
}

div.class3 p {
    color: blueviolet;
}
.class3{
    border: 2px solid deepskyblue;
    background-color: beige;
}













